<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Websockets practice</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</head>
<body>

<div class="container justify-content-center">
    <div class="row">
        <div class="col">
            <h1 class="mt-3">This is the home page</h1>
            <hr>
        </div>
    </div>
</div>
<div class="row mx-auto my-auto">
    <div class="col-md-8 mx-auto">
        <h3>Chat</h3>
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" name="Username" id="username" class="form-control" autocomplete="off">
        </div>

        <div class="form-group">
            <label for="message">Message</label>
            <input type="text" name="message" id="message" class="form-control" autocomplete="off">
        </div>
        <hr>
        <a href="javascript:void(0);" class="btn btn-outline-secondary" id="sendBtn">Send message</a>

        <input type="hidden" name="action" id="action">
        <hr>
        <div id="output" style="outline: 1px solid silver; min-height: 160px; padding: 0.5em;">
        </div>
    </div>
    <div class="col-md-4  mx-auto">
        <h3>Who's online</h3>
        <ul id="users">

        </ul>
    </div>
</div>
</body>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script>
    let socket = null;
    let userField = document.getElementById("username");
    let messageField = document.getElementById("message");
    let o = document.getElementById("output");

    window.onbeforeunload = function () {
        console.log("Disconnected")
        let jsData = {};
        jsData["action"] = "left";
        socket.send(JSON.stringify(jsData))
    }

    document.addEventListener("DOMContentLoaded", function() {
        socket = new WebSocket("ws://localhost:8080/ws");
        socket.onopen = () => {
            console.log("Successfully connected")
        }
        socket.onclose = () => {
            console.log("Disconnected")
        }
        socket.onerror = error => {
            console.log("Error occurred: ", error)
        }
        socket.onmessage = msg => {
            let j = JSON.parse(msg.data)
            console.log("Action is: ", j.action)
            switch (j.action) {
                case "list_users":
                    let ul = document.getElementById("users")
                    while (ul.firstChild) ul.removeChild(ul.firstChild)
                    if (j.users.length > 0) {
                        j.users.forEach(function (item){
                            let li = document.createElement("li");
                            li.appendChild((document.createTextNode(item)));
                            ul.appendChild(li);
                        })
                    }
                    break;
                case "broadcast":
                    o.innerHTML = o.innerHTML + j.message + "<br>"
            }
        }
        let userInput = document.getElementById("username")
        userInput.addEventListener("change", function () {
            let jsonData = {};
            jsonData["action"] = "username";
            jsonData["username"] = this.value;
            socket.send(JSON.stringify(jsonData))
        })

        document.getElementById("message").addEventListener("keydown", function (event) {
            console.log("Event")
            if (event.code === "Enter") {
                if (!socket) {
                    console.log("No connection!");
                    alert("no connection")
                    return false
                }
                console.log("Entered message")
                event.preventDefault();
                event.stopPropagation();
                sendMessage();
            }
        })
        document.getElementById("sendBtn").addEventListener("click", function (event) {
            if ((userField.value === "") || (messageField.value === "")) {
                alert("fill the input!");
                return false
            } else {
                sendMessage()
            }
            event.preventDefault();
            event.stopPropagation();
            sendMessage();
        })
    })

    function sendMessage() {
        let jsonData = {};
        jsonData["action"] = "broadcast";
        jsonData["username"] = document.getElementById("username").value;
        jsonData["message"] = document.getElementById("message").value;
        socket.send(JSON.stringify(jsonData))
        document.getElementById("message").value = "";
    }
</script>
</html>
